@page "/cmd-log"
@using CLS.Common.DTO
@using CLS.Site.Services
@using CLS.Common.CommandControl
@using CLS.Common.RequestsAndResponses
@attribute [StreamRendering]

@inject ICLSAPIService CLSAPIService
@inject ItemStore ItemStore

@rendermode InteractiveServer

<PageTitle>Command queue</PageTitle>

<h1>Command queue</h1>

@if (commands == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <div class="mb-3">
        <button class="btn btn-primary" @onclick="PauseQueue">Pause Queue</button>
        <button class="btn btn-primary" @onclick="ResumeQueue">Resume Queue</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Args</th>
                <th>Directory</th>
                <th>Status</th>
                <th>X</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var command in ItemStore.Items)
            {
                <tr>
                    <td>@command.Arguments</td>
                    <td>@command.Directory</td>
                    <td>@command.Status</td>
                    <td>
                        @switch (command.Status)
                        {
                            case CommandStatus.Pending:
                                <button class="btn btn-primary"
                                    @onclick="@(async () => await UpdateCommandStatus(command.Id, CommandStatus.Canceled))">Cancel</button>
                                break;
                            case CommandStatus.Canceled:
                            case CommandStatus.Failed:
                                <button class="btn btn-primary"
                                    @onclick="@(async () => await UpdateCommandStatus(command.Id, CommandStatus.Pending))">Restore</button>
                                break;
                            default:
                                <div></div>
                                break;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private CommandTaskCollectionDto? commands;

    protected override async Task OnInitializedAsync()
    {
        // Load the command list
        commands = await CLSAPIService.RequestCommandLog();

        ItemStore.OnUpdated += OnItemsUpdated;
    }

    private void OnItemsUpdated()
    {
        InvokeAsync(StateHasChanged);
    }

    private async Task UpdateCommandStatus(Guid id, CommandStatus status)
    {
        bool success = await CLSAPIService.UpdateCommandStatus(id, status);

        if (success)
        {
            commands = await CLSAPIService.RequestCommandLog();
            StateHasChanged();
        }
    }

    private async Task PauseQueue()
    {
        bool success = await CLSAPIService.SetQueueStatus(DutyControlCommandType.CompleteCurrentAndDisableQueue);
        StateHasChanged();
    }

    private async Task ResumeQueue()
    {
        bool success = await CLSAPIService.SetQueueStatus(DutyControlCommandType.EnableQueue);
        StateHasChanged();
    }

    public void Dispose()
    {
        // Unsubscribe from the event to prevent memory leaks
        if (ItemStore != null)
        {
            ItemStore.OnUpdated -= OnItemsUpdated;
        }
    }
}
